<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="/css/styles.css" rel="stylesheet" type="text/css">
        <script src="/js/jquery-3.1.0.min.js" type="text/javascript"></script>
        <script src="/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="/js/scripts.js" type="text/javascript"></script>
        <title>Hair Salon</title>
    </head>
    <body>
        <div class="container">
            <h2>Pick a stylist!</h2>
            <p>Welcome to Hair Salon - where we connect clients to their stylists in this comprehensive network! Add yourself as a client to our database and assign yourself to a stylist. If you don't see your stylist in the dropdown selector, add your stylist's name first, and then you can complete your information!</p>

            <h5>Add a Stylist</h5>
            <form class="form-group" action="/add_stylist" method="post">
                <label id="new_stylist" for="stylist_name">Input Stylist's full name:</label>
                <input id="new_stylist" type="text" name="stylist_name">
                <button type="submit" class="btn-primary">Submit your stylist!</button>
            </form>

            <h5>Add yourself as a Client</h5>
            <form class="form-group" action="/add_client" method="post">
                <label id="new_client" for="client_name">Input your full name:</label>
                <input id="new_client" type="text" name="client_name">
                <h6>Which stylist would you like?</h6>
                <select id = "selectStylist" class="" name="stylist_id">
                    {% for stylist in stylists %}
                        <option value= {{ stylist.getId }}>{{ stylist.getName }}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn-primary">Submit yoself</button>
            </form>

            <h3>Stylists:</h3>
            <ul>
                {% for stylist in stylists %}
                    <li>
                    <a href='#{{ stylist.getId }}' data-toggle="modal">✏️  </a>
                    <a class="stylistList" href="/client_list/{{ stylist.getId }}">{{ stylist.getName }}</a>
                        <!-- Modal -->
                        <div class="modal fade " id="{{ stylist.getId }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form action="/edit_stylist/{{ stylist.getId }}" class='form-inline' method='post'>
                                            <div class='form-group form-horizontal'>
                                                <input name="stylist_name" class='form form-control' type='text' placeholder='update stylist name'>
                                                <input name="_method" type="hidden" value="patch">
                                                <button class='btn btn-warning btn-sm' type='submit'>Submit Changes</button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <form action="/delete_stylist/{{ stylist.getId }}" method="post">
                                            <input name="_method" type="hidden" value="delete">
                                            <button type="submit" class='btn btn-danger btn-sm pull-left'>Delete Stylist</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>

    </body>
</html>
